#root {
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: rgb(53, 32, 13);
}

@keyframes bganimation {

    0%,
    100% {
        background-color: rgba(190, 108, 25, 1);
    }

    50% {
        background-color: rgb(255, 187, 0);
    }
}

@keyframes fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.bg-color {
    background: rgba(190, 108, 25, 1);
    animation: bganimation 8s infinite linear;
}

.App {
    height: 100vh;
}

.homepage-card {
    height: fit-content;
    border-radius: 1rem;
    /*     background-color: rgb(255, 255, 255);
    box-shadow: 3px 5px 16px 5px rgba(0, 0, 0, 0.4); */
    overflow: hidden;
    flex-grow: 0.8;
    color: white;
    animation: fade 1s linear;
}

.module-card {
    position: relative;
    height: 80vh;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 5px 16px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    flex-grow: 0.8;
    animation: fade 1s linear;
}

.text-center {
    text-align: center;
}

.start-btn {
    border-radius: 0.75rem;
    border: 0px;
    background: linear-gradient(90deg, rgba(190, 108, 25, 1) 0%, rgba(212, 138, 0, 1) 45%, rgba(255, 196, 0, 1) 100%);
    color: antiquewhite;
    font-weight: 700;
    padding: 1rem;
    transition: all 1s;
    box-shadow: 3px 5px 12px 5px rgba(0, 0, 0, 0.199);
}

.start-btn:hover {
    transition: all 1s;
    scale: 1.1;
}

.scrollbar-primary {
    transition: 0.3s;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 6px;
    height: 2px;
    background-color: transparent;
    transition: 0.8s;
}

.scrollbar-primary::-webkit-scrollbar:hover {
    background-color: rgba(255, 255, 255, 0.019);
    transition: 0.8s;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: transparent;
    background-color: transparent;
    transition: all 0.8s;
}

.scrollbar-primary:hover::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.018);
    background-color: rgba(0, 0, 0, 0.384);
    transition: background-color 0.8s;
}

.close-btn-position {
    position: absolute;
    top: 2%;
    right: 4%;
}

/* TYPOGRAPY */

.typograpy-title {
    font-size: 2.3rem;
    font-weight: 700;
}

.typograpy-subtitle {
    font-size: 1.7rem;
    font-weight: 500;
}

.typograpy-label {
    font-size: 1.3rem;
    font-weight: 400;
}

.hour-label {
    background: linear-gradient(90deg, rgba(190, 108, 25, 1) 0%, rgba(212, 138, 0, 1) 45%, rgb(202, 156, 4) 100%);
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 0.5rem;
    font-weight: 600;
}

.tob-bottom-border {
    height: 0.5rem;
    border-radius: 0.5rem;
    width: auto;
    background: linear-gradient(90deg, rgba(217, 119, 21, 1) 0%, rgba(176, 116, 3, 1) 45%, rgba(245, 189, 3, 1) 100%);
}